<h1>{{title}}</h1>
<p>Welcome to {{subject}}</p>

<div  >
    
<table style="position:relative;left:35%;"><tr><td>    
             <image src={{image}}  height=325px width=250px/>
        </td>
        <td>
           <p  style="width:25%;font-size:15pt;font-weight:bold;background-color:white;" >{{text}}</p>  
        </td>
  </tr></table>

</div>