body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-attachment:fixed;
  background-size:cover;
  background-image:url('/images/download.jpg');

}

a {
  color: #00B7FF;
}